.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .uday{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    padding: 1.5rem;
  }